@font-face {
    font-family: 'TeletactileRus';
    src: url('fonts/TeletactileRus.ttf') format('truetype');
    src: url('fonts/teletactilerus.woff2') format('woff2'),
         url('fonts/teletactilerus.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}