@font-face {
    font-family: 'TeletactileLatCyr';
    src: url('files/TeletactileRus.ttf') format('truetype');
    src: url('files/teletactilerus-webfont.woff2') format('woff2'),
         url('files/teletactilerus-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}