@font-face {
    font-family: 'Teletactile';
    font-style: normal;
    font-weight: 400;
    src: local('Teletactile'), url('https://fonts.cdnfonts.com/s/36145/Teletactile-3zavL.woff') format('woff');
    src: url('files/TeletactileRus.ttf') format('truetype');
}